#sidebar, #content, #select_file_container, #save_file_container {
	display: inline-block;
	vertical-align: top;
}
#sidebar {
	padding: 0px 10px 10px 10px;
	width: 200px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
}
#content {
	border-left: 1px solid #ddd;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 200px;
	overflow: scroll;
	background-color: #f2f2f2;
}
h1,h2,h3,h4,h5 {
	margin: 5px 0px 5px 0px;
}